# 1.List and its function

In [3]:
list1= ['physics', 'chemistry', 'maths', 'Bio']

In [4]:
print(list1)

['physics', 'chemistry', 'maths', 'Bio']

In [5]:
list2=[1,2,3]

In [6]:
print(list2)

[1, 2, 3]

In [7]:
list1[1]

'chemistry'

In [8]:
list1[1:]

['chemistry', 'maths', 'Bio']

In [9]:
list2[1]

2

In [11]:
list2[-1]

3

In [12]:
len(list1)

4

In [13]:
type(list1)

list

In [14]:
type(list1[2])

str

In [15]:
type(list2[2])

int

In [16]:
print (len(list1))

4

In [19]:
x=list1.copy()

In [20]:
x

['physics', 'chemistry', 'maths', 'Bio']

In [21]:
list2.insert(1, "Apple")

In [22]:
list2

[1, 'Apple', 2, 3]

In [23]:
list1

['physics', 'chemistry', 'maths', 'Bio']

In [24]:
x

['physics', 'chemistry', 'maths', 'Bio']

In [25]:
list2.pop(1)

'Apple'

In [26]:
list2.reverse()

In [27]:
list2

[3, 2, 1]

In [28]:
list2.sort()

In [29]:
list2

[1, 2, 3]

In [30]:
list1.append(list2)

In [31]:
list1

['physics', 'chemistry', 'maths', 'Bio', [1, 2, 3]]

In [33]:
list1.clear()

In [34]:
list1

[]

# 2.Dictionary and its default function

In [35]:
dict1={'Name':'Sushil kumar', 'Age':20}

In [36]:
dict2={1:'Hindi', 2:'English', 3:'Maths', 4:'Bio'}

In [37]:
dict1

{'Name': 'Sushil kumar', 'Age': 20}

In [38]:
dict2

{1: 'Hindi', 2: 'English', 3: 'Maths', 4: 'Bio'}

In [39]:
len(dict1)

2

In [40]:
len(dict2)

4

In [41]:
str(dict1)

"{'Name': 'Sushil kumar', 'Age': 20}"

In [42]:
str(dict2)

"{1: 'Hindi', 2: 'English', 3: 'Maths', 4: 'Bio'}"

In [43]:
type(dict1)

dict

In [45]:
dict1.copy()

{'Name': 'Sushil kumar', 'Age': 20}

In [46]:
dict1.items

In [50]:
dict1.update(dict2)

In [51]:
dict1

{'Name': 'Sushil kumar',
 'Age': 20,
 1: 'Hindi',
 2: 'English',
 3: 'Maths',
 4: 'Bio'}

In [52]:
dict1.values()

dict_values(['Sushil kumar', 20, 'Hindi', 'English', 'Maths', 'Bio'])

In [53]:
dict1.clear()

In [54]:
dict1

{}

# 3.Sets and its default function

In [55]:
set1={"apple", "banana", "papaya"}

In [56]:
set1

{'apple', 'banana', 'papaya'}

In [57]:
set1.add("mango")

In [58]:
set1

{'apple', 'banana', 'mango', 'papaya'}

In [59]:
x=set1.copy()

In [60]:
x

{'apple', 'banana', 'mango', 'papaya'}

In [61]:
set1

{'apple', 'banana', 'mango', 'papaya'}

In [62]:
set1.pop()

'apple'

In [63]:
set1

{'banana', 'mango', 'papaya'}

In [64]:
set1.remove("banana")

In [65]:
set1

{'mango', 'papaya'}

In [66]:
set1.clear()

In [67]:
set1

set()

# 4.Tuples

In [68]:
a= (1, 2, 3, 4, 5, 6, 7, 8)

In [69]:
a

(1, 2, 3, 4, 5, 6, 7, 8)

In [70]:
type(a)

tuple

In [71]:
a.count(4)

1

In [72]:
max(a)

8

In [73]:
min(a)

1

In [76]:
a=();

In [77]:
a

()

# 5.Strings

In [87]:
a="My name is Sushil Kumar Prajapati"

In [88]:
a

'My name is Sushil Kumar Prajapati'

In [89]:
type(a)

str

In [90]:
x=a.capitalize()

In [91]:
x

'My name is sushil kumar prajapati'

In [92]:
x=a.casefold()

In [93]:
x

'my name is sushil kumar prajapati'

In [97]:
x=a.center(20)

In [98]:
x

'My name is Sushil Kumar Prajapati'

In [99]:
text="banana"

In [104]:
x=text.center(100)

In [105]:
x

'                                               banana                                               '

In [106]:
a.find("name")

3

In [107]:
a

'My name is Sushil Kumar Prajapati'

In [110]:
x=a.replace("Prajapati", ".")

In [111]:
x

'My name is Sushil Kumar .'